<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css')}} />
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="#">The Control Center</a></li>
         <li> <a href="#">About</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <div class="camera-frame"> 
        <!-- <img id="bg" class="video-stream" src="{{ url_for('video_stream')}}" > -->
        <img id="bg" class="video-stream" src={{ url_for('static', filename='mock.webp')}} >
      </div>
        <div class="controls">
          <button class="btn " id="left" >Left</button>
          <button class="btn " id="forward" >Up</button>
          <button class="btn " id="backwards" >Down</button>
          <button class="btn " id="right" >Right</button>
          <button class="btn " id="stop" >Stop</button>
        </div>
    </div>
    <p class="txt-center">Houston we have a problem!</p>
  </body>
  <script src={{url_for('static', filename='script.js')}}></script>
</html>
