<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css')}} />
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/">The Control Center</a></li>
        <li> <a href="/galeri">Galeri</a></li>
        <li> <a href="#">About</a></li>
      </ul>
    </nav>
    <h1 class="txt-center">Galeri</h1>
    <div class="flex-container galeri-container">
    {% if files != [] %} 
      <div class="galeri-column">
        {% for i in range(0, index, 2) %}
            <img class="galeri-img" width="640px" height="480px" src={{ url_for('static', filename="screenshots/" + files[i] )}} alt="">
            <h2>{{files[i].strip(".jpeg")}}</h2>
        {% endfor %}
      </div>
      <div class="galeri-column">
        {% for i in range (1, index, 2) %}
        <img class="galeri-img" width="640px" height="480px" src={{ url_for('static', filename="screenshots/" + files[i] )}} alt="">
        <h2>{{files[i].strip(".jpeg")}}</h2>
        {% endfor %}
      </div>
    {% else %}
    <h2 class="txt-center">You haven't taken any screenshots yet</h2>
    {% endif %}
    </div>
  </body>
</html>
